/* MENU */
.menu {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
/* MANIPULAR OS LINKS DO MENU */
.menu a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: blue;
  border: 1px solid blue;
  padding: 5px;
}
